<mat-sidenav-container   class="sidenav-container ">

  <mat-sidenav  style="background-color:white;" #drawer class="sidenav" fixedInViewport [attr.role]="'dialog'"
    [mode]="'side'" [opened]="$drawer==true">

<app-drawer-menu-list></app-drawer-menu-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar aa" color="primary">

      <mat-icon (click)="drawerOpenAndClose()">menu</mat-icon>
      <span routerLink="/" class="OnHosYazi">OnHos</span>
      <span class="example-spacer"></span>



      <div class="example-button-row">
        <button *ngIf="isLogin==true" mat-raised-button  color="accent">
          <mat-icon>search</mat-icon>
        </button>
        <button *ngIf="isLogin==true" mat-raised-button  color="accent">
          <mat-icon>attach_money</mat-icon> <span style="font-size: large;">20</span>
        </button>
        <button *ngIf="isLogin==false" mat-raised-button routerLink="/login" color="accent">Giriş Yap</button>
        <button  *ngIf="isLogin==false" mat-raised-button routerLink="/register" color="accent">Kaydol</button>

      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
