<div class="OnHosContainer">
  <app-doctors-recommended-for-you></app-doctors-recommended-for-you>
  <mat-divider></mat-divider>


  <mat-tab-group style="height:650px; z-index: 1;" mat-align-tabs="center">
    <mat-tab label="Sana Önerilen Hastalıklar"><app-article-list></app-article-list></mat-tab>
    <mat-tab label="Son Zamanlarda En Çok Ziyaret Edilen Hastalıklar"><app-popular-article></app-popular-article></mat-tab>
    <mat-tab label="Bu Mevsimdeki En Çok Görülen Hastalıklar">Content 3</mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <app-doctor-list></app-doctor-list>
  <app-footer></app-footer>
</div>

