<mat-nav-list>
  <a mat-list-item routerLink="/">
    <mat-icon class="OnHosDrawerMenuIcon">home</mat-icon> <span class="OnHosDrawerMenuYazi">Anasayfa</span>
  </a>
  <a mat-list-item routerLink="/profile/mehmetkekec">
    <mat-icon class="OnHosDrawerMenuIcon">perm_identity</mat-icon> <span class="OnHosDrawerMenuYazi">Profil</span>
  </a>
  <a mat-list-item routerLink="/history">
    <mat-icon class="OnHosDrawerMenuIcon">history</mat-icon> <span class="OnHosDrawerMenuYazi">Geçmiş</span>
  </a>
  <a mat-list-item routerLink="/readlist">
    <mat-icon  class="OnHosDrawerMenuIcon">description</mat-icon> <span class="OnHosDrawerMenuYazi">Okuma Listesi</span>
  </a>
  <a mat-list-item href="#">
    <mat-icon  class="OnHosDrawerMenuIcon">settings</mat-icon> <span class="OnHosDrawerMenuYazi">Ayarlar</span>
  </a>
  <a mat-list-item (click)="cikisYap()">
    <mat-icon  class="OnHosDrawerMenuIcon">exit_to_app</mat-icon> <span class="OnHosDrawerMenuYazi">Çıkış Yap</span>
  </a>
</mat-nav-list>
