<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <section class="error-page section">
    <div class="container aa">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-12">
          <!-- Error Inner -->
          <div class="error-inner">
            <h1>404<span style="margin-top: 50px;">{{message}}</span></h1>
            <p>İsteğiniz yerine getirilemedi. İsterseniz aramayı deneyebilirsiniz.</p>
            <form class="search-form">
              <input placeholder="Ara" type="text">
              <button class="btn" type="submit"><i class="fa fa-search btn-success"></i></button>
            </form>
          </div>
          <!--/ End Error Inner -->
        </div>
      </div>
    </div>


