.history-delete-button{
  float: right;
  color: rgb(153, 17, 17);
}
.history-text{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}
.history-text-span{
  font-size: large;
  font-weight: bold;
}
