<div class="history-text"><span class="history-text-span">Geçmiş</span></div>

<mat-tab-group color="accent" mat-align-tabs="center">
  <mat-tab label="Daha Önce Baktığın Yazılar"><div class="container"> <ul class="list-group">
    <li class="list-group-item">An item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A second item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A third item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A fourth item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">And a fifth one <mat-icon class="history-delete-button">close</mat-icon></li>
  </ul>

  </div></mat-tab>
  <mat-tab label="Daha Önce Baktığın Profiller"><div class="container"> <ul class="list-group">
    <li class="list-group-item">An item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A second item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A third item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A fourth item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">And a fifth one <mat-icon class="history-delete-button">close</mat-icon></li>
  </ul>

  </div></mat-tab>
  <mat-tab label="Daha önce İzlediğin Videolar"><div class="container"> <ul class="list-group">
    <li class="list-group-item">An item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A second item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A third item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">A fourth item <mat-icon class="history-delete-button">close</mat-icon></li>
    <li class="list-group-item">And a fifth one <mat-icon class="history-delete-button">close</mat-icon></li>
  </ul>

  </div></mat-tab>
</mat-tab-group>
