<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="container pt-3 mb-3">
  <span style="font-weight: 300;">Sana Önerilen Doktorlar:</span>
  <div class="row pt-1 mt-30">

    <div class="col-lg-3 col-sm-6 mb-30 pb-5">

      <a class="card"  routerLink="profile/mehmetkekec">
        <div style="text-align: center;">
          <img width="100px" height="100px" style="border-radius: 50%; height: 100px; width: 100px; margin-top: 10px;object-fit: cover; margin-top: 5px;"
            src="https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg" />
        </div>
        <div class="card-body text-center">
          <h3 class="card-title pt-1">Hasan Ülker <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon></h3>
          <span style="color: gray; font-weight: 100;">Kalp Damar Hastalıkları Uzmanı</span>
          <p class="card-text text-sm">Yaklaşık 10 yıldır Cerrahpaşa tıp fakültesinde kalp damar hastalıklarında
            çalışıyorum.</p><span class="text-sm text-uppercase font-weight-bold">Profile git&nbsp;<i
              class="fe-icon-arrow-right"></i></span>
        </div>
      </a>


    </div>


    <div class="col-lg-3 col-sm-6 mb-30 pb-5">
      <a class="card" href="#">
        <div style="text-align: center;">
          <img width="100px" height="100px" style="border-radius: 50%; height: 100px; width: 100px; margin-top: 10px;object-fit: cover; margin-top: 5px;"
            src="https://transcode-v2.app.engoo.com/image/fetch/f_auto,c_lfill,h_128,dpr_3/https://assets.app.engoo.com/images/D5QznQycLIwj5YCqhNfMEwm8BqH9Bmr48jz5PeKn0oe.jpeg" />
        </div>
        <div class="card-body text-center">
          <h3 class="card-title pt-1">Demet Akbağ <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon></h3>
          <span style="color: gray; font-weight: 100;">Beyin Cerrahı</span>
          <p class="card-text text-sm">Beyin Cerrahı olarak yaklaşık 15 yıldır çalışmaktayım</p><span class="text-sm text-uppercase font-weight-bold">Profile git&nbsp;<i
              class="fe-icon-arrow-right"></i></span>
        </div>
      </a>

  </div>

  <div class="col-lg-3 col-sm-6 mb-30 pb-5">
    <a class="card" href="#">
      <div style="text-align: center;">
        <img width="100px" height="100px" style="border-radius: 50%; height: 100px; width: 100px; margin-top: 10px;object-fit: cover; margin-top: 5px;"
          src="https://transcode-v2.app.engoo.com/image/fetch/f_auto,c_lfill,h_128,dpr_3/https://assets.app.engoo.com/images/9rGg7Q0FAP8LdGZyM2kIcd1LXqWBVKFdvfgdCTGnYQU.jpeg" />
      </div>
      <div class="card-body text-center">

        <h3 class="card-title pt-1">Timur Yaprak <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon></h3>
        <span style="color: gray; font-weight: 100;">Dermatoleji</span>
        <p class="card-text text-sm">Bildim bileli bu işte çalışmaktayım. Asıl uzmanlık alanım uyku olsa da bu işide severek yapıyorum.</p><span class="text-sm text-uppercase font-weight-bold">Profile git&nbsp;<i
            class="fe-icon-arrow-right"></i></span>
      </div>
    </a>

</div>


<div class="col-lg-3 col-sm-6 mb-30 pb-5">
  <a class="card" href="#">
    <div style="text-align: center;">
      <img width="100px" height="100px" style="border-radius: 50%; height: 100px; width: 100px; margin-top: 10px;object-fit: cover; margin-top: 5px;"
        src="https://diyetuzmani.com.tr/uploads/2020/02/diyetisyenlik-maaslari.jpg" />
    </div>
    <div class="card-body text-center">
      <h3 class="card-title pt-1">Ece Daş <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon></h3>
      <span style="color: gray; font-weight: 100;">Beslenme Ve Diyetetik </span>
      <p class="card-text text-sm">Beslenme ve diyetetik alnında uzman bir ismim. Kendi tükanım var.</p><span class="text-sm text-uppercase font-weight-bold">Profile git&nbsp;<i
          class="fe-icon-arrow-right"></i></span>
    </div>
  </a>

</div>

  </div>
</section>
