<div class="readlist-text"><span class="readlist-text-span">Okuma Listesi</span></div>
<div class="container"> <ul class="list-group">
  <li class="list-group-item">An item <mat-icon (click)="openSnackBar('An item')" class="readlist-remove-button">close</mat-icon></li>
  <li class="list-group-item">A second item <mat-icon class="readlist-remove-button">close</mat-icon></li>
  <li class="list-group-item">A third item <mat-icon class="readlist-remove-button">close</mat-icon></li>
  <li class="list-group-item">A fourth item <mat-icon class="readlist-remove-button">close</mat-icon></li>
  <li class="list-group-item">And a fifth one <mat-icon class="readlist-remove-button">close</mat-icon></li>
</ul>

</div>


