<div class="article-scroll-right">
  <div class="row pt-1 mt-30">

<div class="col-lg-3  pb-5 " *ngFor="let post of posts">
<mat-card class="example-card card" >

  <mat-card-header>
    <img  mat-card-avatar src={{profileDetails.profilePhoto.url}}/>
    <mat-card-title>{{profileDetails.firstName}} {{profileDetails.lastName}}<mat-icon class="verify-icon">
        verified_user</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>@{{profileDetails.userName}} / {{branch}}</mat-card-subtitle>
  </mat-card-header>

  <img *ngIf="post.image != null" mat-card-image="matCardImageSmall" src={{post.image}}? alt="Photo of a Shiba Inu">
  <mat-card-content>

    <p>
     {{post.text}}
    </p>
    <span class="date">{{post.date}}</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon class="aktif">thumb_up</mat-icon> {{like}}</button>
    <button mat-button><mat-icon>share</mat-icon></button>

  </mat-card-actions>
</mat-card>
</div>

</div>
</div>
