.example-card {
  max-width: 400px;
}

.example-header-image {

  background-size: cover;
}
.verify-icon{
  color:  blue;
}
div.article-scroll-right{
overflow-x: hidden;
}
.card{


}
p{

}
.date{
  background-color: antiquewhite;
}
.aktif{
  color:blue;
}
