<div class="article-scroll-right">
<div class="row pt-1 mt-30">
  <div class="col-lg-4 col-sm-6 mb-30 pb-5 " *ngFor="let video of videos">
<mat-card class="example-card card">

  <mat-card-header>
    <img mat-card-avatar src={{profileDetails.profilePhoto.url}}/>
    <mat-card-title>{{profileDetails.firstName}} {{profileDetails.lastName}} <mat-icon class="verify-icon">verified_user</mat-icon> </mat-card-title>
    <mat-card-subtitle>@{{profileDetails.userName}} / {{branch}}</mat-card-subtitle>
  </mat-card-header>


  <video mat-card-image="matCardImageSmall" controls controlsList="nodownload" class="video" poster={{video.kapakFoto}}>
    <source src={{video.videoUrl}} type="video/mp4">
  Your browser does not support the video tag.
  </video>
  <mat-card-content>

    <div style="text-align: center;">
      <h3 style="font-weight: bold;">{{video.title}}</h3>
    </div>
    <p>
     {{video.text | slice:0:140}}...  </p>
    <div>

  </div>
  </mat-card-content>
  <mat-card-actions>


    <button mat-button (click)="shareButton(video.id)"><mat-icon>share</mat-icon> </button>

  </mat-card-actions>
</mat-card>
</div>
</div>
