

<div class="article-scroll-right">
  <div class="row pt-1 mt-30">
  <div class="col-lg-3 col-sm-6 mb-30 pb-5 ">
<mat-card class="example-card card">

  <mat-card-header>
    <div mat-card-avatar style="background-image: url('https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg');
    background-size: cover;"></div>
    <mat-card-title>Hasan Ülker <mat-icon class="verify-icon">verified_user</mat-icon> </mat-card-title>
    <mat-icon class="trend-icon">trending_up</mat-icon>
    <mat-card-subtitle>Kalp Damar Hastalıkları Uzmanı</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image="matCardImageSmall" src="http://drmustafasener.com/2018/10/kanser-hucresi-vucutta-nasil-beslenir.jpeg" alt="Photo of a Shiba Inu">
  <mat-card-content>

    <div style="text-align: center;">
      <h3 style="font-weight: bold;">Kanser</h3>
    </div>
    <p>
      Kelime anlamı olarak kanser, bir organ veya dokudaki hücrelerin düzensiz olarak bölünüp çoğalmasıyla beliren kötü urlara denir. Genel anlamda ise kanser vücudumuzun çeşitli bölgelerindeki hücrelerin kontrolsüz çoğalması ile oluşan 100'den fazla hastalık grubudur. Çok çeşitli kanser tipleri olmasına rağmen, hepsi anormal hücrelerin kontrol dışı çoğalması ile başlar. Tedavi edilmez ise ciddi rahatsızlıklara, hatta ölüme dahi neden olabilir
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>READ</button>

  </mat-card-actions>
</mat-card>
</div>
<div class="col-lg-3 col-sm-6 mb-30 pb-5 ">
<mat-card class="example-card card">
  <mat-card-header>
    <div mat-card-avatar style="background-image: url('https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg');
    background-size: cover;"></div>
    <mat-card-title>Hasan Ülker <mat-icon class="verify-icon">verified_user</mat-icon> </mat-card-title>
    <mat-icon class="trend-icon">trending_up</mat-icon>
    <mat-card-subtitle>Kalp Damar Hastalıkları Uzmanı</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image="matCardImageSmall" src="http://drmustafasener.com/2018/10/kanser-hucresi-vucutta-nasil-beslenir.jpeg" alt="Photo of a Shiba Inu">
  <mat-card-content>

    <div style="text-align: center;">
      <h3 style="font-weight: bold;">Kanser</h3>
    </div>
    <p>
      Kelime anlamı olarak kanser, bir organ veya dokudaki hücrelerin düzensiz olarak bölünüp çoğalmasıyla beliren kötü urlara denir. Genel anlamda ise kanser vücudumuzun çeşitli bölgelerindeki hücrelerin kontrolsüz çoğalması ile oluşan 100'den fazla hastalık grubudur. Çok çeşitli kanser tipleri olmasına rağmen, hepsi anormal hücrelerin kontrol dışı çoğalması ile başlar. Tedavi edilmez ise ciddi rahatsızlıklara, hatta ölüme dahi neden olabilir
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>READ</button>

  </mat-card-actions>
</mat-card>
</div>

<div class="col-lg-3 col-sm-6 mb-30 pb-5 ">
<mat-card class="example-card card">

  <mat-card-header>
    <div mat-card-avatar style="background-image: url('https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg');
    background-size: cover;"></div>
    <mat-card-title>Hasan Ülker <mat-icon class="verify-icon">verified_user</mat-icon> </mat-card-title>
    <mat-icon class="trend-icon">trending_up</mat-icon>
    <mat-card-subtitle>Kalp Damar Hastalıkları Uzmanı</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image="matCardImageSmall" src="http://drmustafasener.com/2018/10/kanser-hucresi-vucutta-nasil-beslenir.jpeg" alt="Photo of a Shiba Inu">
  <mat-card-content>

    <div style="text-align: center;">
      <h3 style="font-weight: bold;">Kanser</h3>
    </div>
    <p>
      Kelime anlamı olarak kanser, bir organ veya dokudaki hücrelerin düzensiz olarak bölünüp çoğalmasıyla beliren kötü urlara denir. Genel anlamda ise kanser vücudumuzun çeşitli bölgelerindeki hücrelerin kontrolsüz çoğalması ile oluşan 100'den fazla hastalık grubudur. Çok çeşitli kanser tipleri olmasına rağmen, hepsi anormal hücrelerin kontrol dışı çoğalması ile başlar. Tedavi edilmez ise ciddi rahatsızlıklara, hatta ölüme dahi neden olabilir
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>READ</button>

  </mat-card-actions>
</mat-card>
</div>
<div class="col-lg-3 col-sm-6 mb-30 pb-5 ">
<mat-card class="example-card card">

  <mat-card-header>
    <div mat-card-avatar style="background-image: url('https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg');
    background-size: cover;"></div>
    <mat-card-title>Hasan Ülker <mat-icon class="verify-icon">verified_user</mat-icon>
      <mat-icon class="trend-icon">trending_up</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>Kalp Damar Hastalıkları Uzmanı</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image="matCardImageSmall" src="http://drmustafasener.com/2018/10/kanser-hucresi-vucutta-nasil-beslenir.jpeg" alt="Photo of a Shiba Inu">
  <mat-card-content>

    <div style="text-align: center;">
      <h3 style="font-weight: bold;">Kanser</h3>
    </div>
    <p>
      Kelime anlamı olarak kanser, bir organ veya dokudaki hücrelerin düzensiz olarak bölünüp çoğalmasıyla beliren kötü urlara denir. Genel anlamda ise kanser vücudumuzun çeşitli bölgelerindeki hücrelerin kontrolsüz çoğalması ile oluşan 100'den fazla hastalık grubudur. Çok çeşitli kanser tipleri olmasına rağmen, hepsi anormal hücrelerin kontrol dışı çoğalması ile başlar. Tedavi edilmez ise ciddi rahatsızlıklara, hatta ölüme dahi neden olabilir
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>READ</button>

  </mat-card-actions>
</mat-card>
</div>

</div>
</div>


