.example-card {
  max-width: 400px;
}

.example-header-image {

  background-size: cover;
}
.verify-icon{
  color:  blue;
}
div.article-scroll-right{
overflow-x: hidden;
}
.card{


}


.verify-icon{
  color:  blue;
}
.trend-icon{
  color: green;
  float: right;
}
